*, .row {
  margin: 0;
  padding: 0;
  /* background-color: #222138; */
}

/* ++++++++++++ Vista Splash +++++++++++*/

#splash {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#splash>h1 {
  margin-top: 40vh;
  color: #b59241;
}

/* ++++++++++++ Contenido +++++++++++*/

.container-fluid>h1, .container-fluid>h3 {
  color: #b59241;
}

iframe {
  margin-top: 30px;
}

.square {
  border: 1px solid white;
  width: 15px;
  height: 15px;
}

.square-right {
  right: 329px;
  position: absolute;
  top: 71px;
}

.square-left {
  position: absolute;
  left: 329px;
  top: 70px;
}

#info{
  padding: 40px 10px 0 180px;
} 

.card{
  margin: 40px 40px 40px 40px;
  border: 1px yellow solid;
} 

#btn-card{
  background: #26b2d4;
  margin: 15px 0 40px 0;
}
/* ++++++++++++ Modal +++++++++++*/

#modal-food {
  width: 86%;
}

.modal-content {
  background: rgba(184, 157, 64, 0.9);
  color: white;
}

.modal-header {
  background: rgba(184, 157, 64, 0.9);
}
